{{ template "header-grpc.html" . }}

<h1>Sample GRPC passthrough showing random xkcd cartoons</h1>

<p>
    Note: this application is currently crashing due to some sort of conflict
    with HTTP2 and GCP. GCP does not allow HTTP2 traffic unless it is used for
    TCP. If HTTP2 communication is attempted without TLS GCP will downgrade the
    connection to http 1.1 and GRPC will not work. I am in the process of adding
    and testing TLS for the test server in the app and for the client
    connecting. The fallback position is to skip the GRPC call and just call the
    xkcd endpoint via a function. The GRPC aspect is not useful except as a way
    to experiment with GRPC and passing through GRPC calls to regular HTTP
    endpoints.
</p>
<p>
    This is an overly complicated page in that it uses a GRPC server started by
    the application which is queried by the handler. The GRPC call itself calls
    a simple HTTP client which gives the data back. The GRCP client gets the
    data then the handler sends it as a JSON payload to the page.
</p>

<p>
    The Javascript for this page calls this server requesting metadata about an
    xkcd cartoon for a day. A random day is selected for each of the 5 divs in
    this page. (from among the first 2,000 daily cartoons available from the
    xkcd API). The server calculates a random delay that is used to reload each
    image using a callback in the page's Javascript. It works well but may be
    unstable as I work to get GRPC working on GCP.
</p>

<p>
    Although it is a bit tedious to set up a GRPC server it was not too
    difficult to figure out. TLS is required for GCP and is not a bad idea in
    any case so that is being used.
</p>

<!-- First image -->
<div id="#image-0"></div>

<!-- Second image -->
<div id="#image-1"></div>

<!-- Third image -->
<div id="#image-2"></div>

<!-- Fourth image -->
<div id="#image-3"></div>

<!-- Fifth image -->
<div id="#image-4"></div>

{{ template "footer.html" . }}