{{ template "header-grpc.html" . }}

<h1>Sample GRPC passthrough showing random xkcd cartoons</h1>

<p>
    This is an overly complicated page in that it uses a GRPC server started by
    the application which is queried by the handler. The GRPC call itself calls
    a simple HTTP client which gives the data back. The GRCP client gets the
    data then the handler sends it as a JSON payload to the page.
</p>

<p>
    Although it is a bit tedious to set up a GRPC server it was not too
    difficult to figure out. There are many advanced features such as streaming
    and TLS and authorization that I have not explored.
</p>

<div id="#image-0"></div>

<div id="#image-1"></div>

<div id="#image-2"></div>

<div id="#image-3"></div>

<div id="#image-4"></div>

{{ template "footer.html" . }}