{{ template "header.html" . }}
    <p>
        <a href="https://www.nanovms.com">Nanovms</a> is a unikernel which can
        run a single process. 
        Wikipedia <a href="https://en.wikipedia.org/wiki/Unikernel">defines</a> 
        a unikernel as 
        <blockquote>
            A unikernel is a specialised, single address space machine image
            constructed by using library operating systems. A developer selects,
            from a modular stack, the minimal set of libraries which correspond
            to the OS constructs required for the application to run. These
            libraries are then compiled with the application and configuration
            code to build sealed, fixed-purpose images (unikernels) which run
            directly on a hypervisor or hardware without an intervening OS such
            as Linux or Windows.
        </blockquote>
    </p>
    <p>
    <a href="https://www.nanovms.com">Nanovms</a> has built an open source
        unikernel and provided a <a href="https://nanovms.gitbook.io/ops/">tool</a>
        called ops to allow for the building of a unikernel and deployment on a
        growing list of cloud platforms.
    </p>
    <p>
        The purpose of this project is to experiment with the feasibility of
        deploying and updating unikernels in the Google Cloud Platform in a
        similar way to Docker with Kubernetes or with AWS Fargate. It is hoped
        that instances can be clustered and scaled using the services provided
        by providers such as Google and AWS.
    </p>
    <p>
        Currently the ops tool has been found to be capable of using a Linux
        targetted build of a simple app and putting it in the Google cloud to
        run in a small instance. There are some issues related to doing things
        like allowing HTTP ports to be used for instances which are likely due
        to my own lack of experience rather than underlying issues with the
        available tools.
    </p>

    <h3>Thngs to be done</h3>
    <ul>
        <li>Use templating instead of static HTML for demo site (done)</li>
        <li>Learn how to automate better</li>
        <ul>
            <li>deleting GCP instances</li>
            <li>deleting GCP images</li>
            <li>using images to make template</li>
            <li>use template to make managed instance group (MIG)</li>
            <li>modify MIG</li>
            <li>replacing template used for MIG and safe switch of instances</li>
        </ul>
    </ul>
    <h3>Timeline</h3>
    <ul>
        <li>2021-07-27 - began work after reading about unikernels</li>
        <li>2021-07-28 - project started and Google Cloud account
        started</li>
        <li>2021-07-29 - first build of local kernel using ops</li>
        <li>2021-07-30 - deploy to GCP, use of Go templates, JSOn sample</li>
        <li>2021-07-31 - implementation of RPC to update twitter search
        results</li>
        <li>2021-08-01 - GRPC client and server demo</li>
        <ul>
            <li>figured out how to use code generation to make a simple
            function</li>
            <li>got reasonably elegant client test of server completed and
            working</li>
            <li>hooked up the GRPC client and server within the app and returned
            a Javascript message from the handler to populate the images in page
            and reloading.</li>
        </ul>
    </ul>
{{ template "footer.html" . }}