{{ template "header-twitter.html" . }}
    <h1>Sample recent cats tweets</h1>

    <p>
        This is a work in progress. The goal is to have 5 tweets on the
        subject of sea otters display and reload randomly every 30 seconds to 2
        minutes. 
    </p>

    <!-- <div id="tweet" tweetID="1421503419915898884"></div> -->


    <div id="#tweet-0" tweetID="1421503419915898884"></div>

    <div id="#tweet-1" tweetID="1421503419915898884"></div>

    <div id="#tweet-2" tweetID="1421503419915898884"></div>

    <div id="#tweet-3" tweetID="1421503419915898884"></div>

    <div id="#tweet-4" tweetID="1421503419915898884"></div>

    {{ template "footer.html" . }}