<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nanovms and ops demonstration</title>

    <link rel="stylesheet" href="./css/simple.min.css">
    <meta name="csrf-token" content="{{.CsrfToken}}">
    <meta name="server-address" content="{{.ServerAddress}}">
    <!-- https://stackoverflow.com/questions/702181/replace-html-table-with-divs
        https://stackoverflow.com/questions/29229523/how-and-why-to-use-display-table-cell-css
    -->
</head>
<body>
    {{ template "nav.html" . }}
    <header>
        <h1>nanovms Demo</h1>
        <p>A demonstration of using nanovms in the cloud</p>
    </header>
