{{ template "header-msg.html" . }}

<div align="center" style="padding-top: 3em;">
    <figure>
    <a href="https://flic.kr/p/nbXU1g" target="_blank">
        <img style="border-radius: 8px; width: 40%;" alt="A mite on a beach in
    Victoria, BC" src="/assets/mite.jpg"/>
</a>
    <figcaption>A mite on a beach in Victoria, BC</figcaption>
    </figure>
</div>

<h2>Nats demo</h2>

<p>
    This is a simple <a href="https://nats.io">NATS</a> messaging service
    demonstration. Due to some issues with the Nanos deployment tied to port
    access for an embedded server when running in the cloud a call to the demo
    NATS service is made. When running locally a local NATS server is used. A
    search is initiated from within the page and internally a request is made to
    a handler which calls an HTTP client that calls an API function. The
    client's returned JSON is parsed and then that is used to populate a
    structure which is used by a template to produce an HTML snippet.
</p>
<p>
    The search done is of the PLOS article library. There is supposed to be an
    API requiring a key but as far as I can tell the API can be queried with no
    key.
</p>
<p>
    I am new to NATS but it looks great. If you look at the code I have written
    to implement it and you are an old hand at using NATS I'm sure you will find
    lots of problems. I hope I will find those problems as I keep working on
    this. There are many aspects of NATS that I have not explored, such as
    storage, queuing, authentication, clustering, etc. I am very interested in
    the thorough authentication and authorization system using NKEYS and JWT.
</p>
<p>
    Note that the DOI lookups will only work for articles in the PLOS system.
    For instance, the link to <a
    href="https://doi.org/10.1038/s41598-020-60661-8" target="_blank">this
    article</a> will not work. That is an interesting article, though perhaps I
    find it interesting because; it fits my preconceptions, I was in
    my grad school days involved in electrophysiological studies tied to
    attention, I program, and I have studied French as a second
    language. The EEG measures are hard to connect with the other significant
    outcomes and seem to have lacked the statistical power to raise the results
    to the level of significance.
</p>
<div>
    <p>Enter a <a target="_blank"
    href="https://en.wikipedia.org/wiki/Digital_object_identifier">DOI id</a>
    (e.g. 10.1371/journal.pone.0238819) or a search term (e.g. "mites")</p>
    <input type="text" id="#searchtext"/>
    <button type="button" id="#searchbutton" class="next" onclick="searchForMessages(0)"
    style="width: 100px">Search</button>
</div>

<p id="#articles"></p>

{{ template "footer.html" . }}