{{ template "header-msg.html" . }}

<h2>Nats demo</h2>

<p>
    This is a simple <a href="https://nats.io">NATS</a> messaging service
    demonstration. Due to some issues with the Nanos deployment tied to port
    access for an embedded server when running in the cloud a call to the demo
    NATS service is made. When running locally a local NATS server is used. A
    search is initiated from within the page and internally a request is made to
    a handler that calls a built in NATS server which calls an HTTP client that
    calls an API function. The client's returned JSON is parsed and then that is
    used to populate a structure which is used by a template to produce an HTML
    snippet.
</p>
<p>
    The search done is of the PLOS article library. There is supposed to be an
    API requiring a key but as far as I can tell the API can be queried with no
    key.
</p>
<p>
    I am new to NATS but it looks great. If you look at the code I have written
    to implement it and you are an old hand at using NATS I'm sure you will find
    lots of problems. I hope I will find those problems as I keep working on
    this. There are many aspects of NATS that I have not explored, such as
    publish/subscribe, queuing, authentication, clustering, etc.
</p>

    <div>
    <input type="text" id="#searchtext"/>
    <button type="button" id="#searchbutton" onclick="searchForMessages()"
    style="width: 100px">Search</button>
    </div>

<p id="#articles"></p>

{{ template "footer.html" . }}