<nav>
    <a href="/?csrf={{.CsrfToken}}&server-address={{.ServerAddress}}">Home</a>
    <a href="/transactions?csrf={{.CsrfToken}}&server-address={{.ServerAddress}}">JSON</a>
    <a href="/twitter?csrf={{.CsrfToken}}&server-address={{.ServerAddress}}">Twitter</a>
    <a href="/nats?csrf={{.CsrfToken}}&server-address={{.ServerAddress}}">NATS</a>
    <a href="/grpc?csrf={{.CsrfToken}}&server-address={{.ServerAddress}}">GRPC</a>
    <a href="/assets/IanResume_go.pdf" target="_blank">Resume</a>
    <a href="https://github.com/imarsman/nanovms" target="_blank">Github</a>
</nav>