<h2>Search results for "{{.SearchTerm}}"</h2>
{{- if .Error }}
    <p>{{ .ErrorMessage }}</p>
{{- end }}
{{- if gt (len .Docs) 0 }}
<table>
    <colgroup>
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 75%;">
    </colgroup>
{{- range .Docs}}
    <tr style="background-color: #AEB6BF">
        <td style="vertical-align: top;"><strong>Title</strong></td>
        <td>{{.Title}}</td>
    </tr>
    <tr>
        <td style="vertical-align: top;">ID</td>
        <td>{{.ID}}</td>
    </tr>
    <tr>
        <td style="vertical-align: top;">Journal</td>
        <td>{{.Journal}}</td>
    </tr>
    <tr>
        <td style="vertical-align: top;">Publication Date</td>
        <td>{{.PublicationDate}}</td>
    </tr>
    <tr>
        <td style="vertical-align: top;">Abstract</td>
        <td>{{index .Abstract 0}}</td>
    </tr>
    <tr>
        {{- $authorList := StringsJoin .Author ", " }}
        <td style="vertical-align: top;">Authors</td>
        <td>{{ StringsTrim $authorList }}</td>
    </tr>
{{- end}}
</table>
{{- end}}